/* Common CSS */

body {
    font-size: 72.5%;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ui-widget-content {
    width: 150px; 
    float: left; 
    margin: 5px; 
    padding: 5px; 
    border: none;
}
    
div.demo {
    padding:12px;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

#demo-link { font-size:11px;  padding-top: 6px; clear: both; overflow: hidden; }
#demo-link a span.ui-icon { float:left; margin-right:3px; }

.action { 
    color: #333333; 
    text-decoration: none; 
    border-bottom:1px dashed;
}
#paypal {
    float: left;
}
#yandex {
    float: center;
}
