body {
    min-width: 510px;
    overflow-x:hidden;
}
div.demo {
    padding:12px;
    font-family: "Trebuchet MS", Arial, Helvetica, Verdana, sans-serif;
}
#informer {
    width: 450px;
    margin: 7px;
    padding: 3px;
    border: none;
}
#popup_usage_description, #donations {
    width: 460px;
}
#visible, #hidden { 
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
    margin-right: 10px; 
}
#visible li, #hidden li { 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 120px; 
}
.action { 
    color: #333333; 
    text-decoration: none; 
    border-bottom:1px dashed;
}
